

.cards-row {
  display: flex;
  flex-wrap: wrap;
}
.section-title {
  display: block;
}
.mostPop-section {

  width: 90%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  h2 {
    font-weight: 400;
  }
}

.card-button {
  width: 216px;
  height: 367px;
  position: relative;
  background-color: #f5f6f7;
  cursor: pointer;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    width: 100%;
    text-align: center;
  }
}
