@import "../../styles/base";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.navigation {
  width: 100%;
  font-family: "Lato", sans-serif;

  &__section {
    width: 90%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .right {
      display: flex;
      flex-grow: 3;
    }
  }

  .goods-div {
    color: #333;
    position: relative;

    .arrow {
      margin-left: 5px;
      color: rgb(168, 168, 168);
    }
    button {
      padding: 10px 11px;
      background-color: #f5f6f7;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 0.5px solid rgb(168, 168, 168);
      cursor: pointer;
    }
  }
  .drop-down {
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    width: 150px;
    margin-top: 5px;
    background-color: white;
    list-style-type: none;
    position: absolute;
    z-index: 3;
    font-size: 16px;
    border-radius: 5px;
    visibility: hidden;
    &-show {
      visibility: visible;
    }
    li {
      padding: 8px;
      cursor: pointer;
      &:hover {
        background-color: #f5f6f7;
      }
    }
  }
  .logo {
    color: $brand-color;
    margin-right: 40px;
    font-weight: 700;
    font-size: 35px;
    font-family: "Satisfy", cursive;
    flex-grow: 1;
  }
  .search-form {
    display: flex;
    background-color: #f5f6f7;
  }

  .search-form {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 70%;

    .input {
      background-color: #f5f6f7;
      height: 100%;
      border: none;
      margin-left: 5px;
      font-size: 16px;
      outline: none;
    }
    .search-icon {
      color: rgb(168, 168, 168);
      margin-left: 5px;
    }
  }
  .form-selection {
    padding: 5px 7px;
    width: 100px;
    display: flex;
    position: relative;
    background-color: lightgray;
    appearance: none;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    .arrow {
      color: #333;
    }

    &__option {
      color: $grey-color;
      &:hover {
        background-color: yellow;
      }
    }
  }
  .search {
    &__input {
      padding: 5px 7px;
      border: none;
      background-color: lightgray;
      border-left: 1px solid grey;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.custom-sign {
  padding: 7px 8px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  &:hover {
    background-color: #11a2aa;
  }
}

.register-btn {
  font-family: "Lato", sans-serif;
  background-color: $transparent;
  border: 1px solid $brand-color;
  color: $brand-color;
  font-size: 12px;
  font-weight: 500;
  padding: 7px 8px;
  margin-right: 7px;
  &:hover {
    background-color: #f4f9ff;
  }
}

.question {
  position: relative;
  background-color: $transparent;
  color: #333;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #333;
  top: 50%;
  cursor: pointer;
  align-self: center;
  margin: 0 10px 0 20px;
}

.buttons-wrap {
  flex-grow: 2;
}
